<div class="center jumbotron">
	<h1>Welcome to Meeting Adjuster</h1>
	<% if logged_in? %>
		<%= link_to "Make a Group!", makegroup_path, class: "btn btn-lg btn-primary" %>
		<%= link_to "Join a Group!", joingroup_path, class: "btn btn-lg btn-primary" %>
	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>
