<%= provide(:title, @group.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @group.name %>
      </h1>
    </section>
			<h1>
			Members
			</h1>
			<ul>
			<% @user_ids.each do |user_id| %>
				<% user = User.find(user_id) %>
				<li><%= link_to "#{user.name}", user %></li>
			<%end %>
			</ul>
		</section>
  </aside>
  <div class="col-md-8">
    <h1>My Schedule</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>月</th>
					<th>火</th>
					<th>水</th>
					<th>木</th>
					<th>金</th>
					<th>土</th>
					<th>日</th>
				</tr>
			</thead>
			<tbody>
				<% for time in 1..5 do %>
					<%= render 'row', time: time%>
				<% end %>
			</tbody>
		</table>
  </div>
</div>
